node_modules/
.env
*.log
dist/
coverage/
.DS_Store
firebase-service-account.json
prisma/migrations/
ensenasai-firebase-adminsdk-*.json
*.json
!package.json
!package-lock.json
!tsconfig.json
!nodemon.json
